body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana; font-size:25px; margin-top:0px;}
.maindiv{
    background-color:white;
    color:black;
    width:370px;
    padding:20px;
    border-radius: 25px;
    align-items: center;
}
input,select,button{margin-top:6px; margin-bottom: 4px;}
.body{margin-left:50px;}

